*{
    padding: 0;
    margin: 0;
    font-family: netflix_regular;
}
@font-face {
    font-family: netflix_bold;
    src: url(/assets/Fonts/NetflixSans-Bold.woff2);
}

@font-face {
    font-family: netflix_regular;
    src: url(/assets/Fonts/NetflixSans-Regular.woff2);
}

@font-face {
    font-family: netflix_medium;
    src: url(/assets/Fonts/NetflixSans-Medium.woff2);
}

@font-face {
    font-family: netflix_light;
    src: url(/assets/Fonts/NetflixSans-Light.woff2);
}
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: netflix_bold;
}
  
body{
    background-color: #000;
}
.logo{
    margin-left: 22rem;
    margin-top: 20px;
    width: 160px;
}
.btns{
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 20rem;
}
.btn{
    background-color: #e50914;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background-color: rgb(193, 8, 17);
}
#lang{
    padding: 6px 35px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
    background: none;
    color: #fff;
}
#first{
    height: 700px;
    background:linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.9) 100%), url('./img/bg.jpg');
}
.cont .material-symbols-outlined{
    position: absolute;
    margin: 11px;
    font-size: 16px;
    color: #fff;
}
.content{
    text-align: center;
    margin-top: 200px;
    color: #fff;
}
.content h1{
    font-size: 48px;
    font-weight: 600;
    font-family: netflix_bold;
}
.content h6{
font-weight: 400;
font-size: 24px;
margin-top: 20px;
}
.content p{
    font-size: 22px;
    margin-top: 20px;
}
.email-section{
    margin-top: 20px;
}
.email-section input{
    padding: 16px 25px;
    width: 350px;
    color: #fff;
    background: rgba(17, 17, 17, 0.402);
    border: 1px solid #636363;
    border-radius: 5px;
    font-size: 18px;
    
}
.email-section button{
    background-color: #e50914;
    padding: 15px 50px 15px 30px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.email-section button:hover{
    background-color: rgb(193, 8, 17);
}
.arrow .material-symbols-outlined{
    position: absolute;
    margin: 14px 558px;
    font-size: 34px;
}
.divider{
    background-color: #232323;
    height: 8px;
    border: none;
}
.email-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.second{
    display:flex;
    justify-content:center;
    padding: 20px 40px;
    color: #fff;
}
.second .col-left h1{
    font-size: 48px;
    padding-top: 163px;
}
.second .col-left p{
    font-size: 21px;
    width: 498px;
    margin-top: 20px;
}
.vdo{
    position: absolute;
    margin-top: 97px;
    z-index: -1;
    margin-left: 192px;
}
.tv img{
    margin-left: 108px;
}

#third{
    display:flex;
    justify-content:center;
    padding: 50px 40px;
    color: #fff;
    
}
#third .col-right h1{
    width: 559px;
    font-size: 48px;
    padding-top: 163px;
    
}
#third .col-right p{
    font-size: 21px;
    width: 505px;
    margin-top: 20px;
}
#third .col-left .mobile-frame{
    height: 450px;
}
#third .col-left .card{
    display: flex;
    border: 2px solid #636363;
    width: 307px;
    margin-left: 155px;
    position: absolute;
    margin-top: -139px;
    padding: 8px;
    border-radius: 10px;
    background: #000;
    justify-content: space-around;
    align-items: center;
}

#fourth{
    display:flex;
    justify-content:center;
    padding: 40px;
    color: #fff;
}
#fourth .col-left h1{
    font-size: 48px;
    margin-top: 163px;
}
#fourth .col-left p{
    font-size: 21px;
    width: 498px;
    margin-top: 20px;
}
.vido{
    position: absolute;
    margin-top: 57px;
    z-index: -1;
    margin-left: 229px;
    width: 390px;
}
.mac img{
    margin-left: 108px;
}
#fifth{
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 60px;
}
#fifth .col-left img{
    width: 560px;
}
#fifth .col-right{
    align-items: center;
    padding-left: 20px;
}
#fifth .col-right h1{
    font-size: 48px;
    margin-top: 114px;
}
#fifth .col-right p{
    font-size: 24px;
    margin-top: 20px;
    width: 572px;
}
#sixth{
    text-align: center;
    padding: 60px;
    color: #fff;
}
#sixth h1{
    font-size: 48px;    
}
.accordion-section{
    width: 66%;
    margin: 20px auto;
}
.accordion-section button{
    border: none;
    outline: none;
    cursor: pointer;
  }
  /* Styling the accordion buttons */
.accordion{
    width: 100%;
    background-color: #2d2d2d;
    color: #fff;
    font-size: 24px;
    padding: 1.5rem;
    margin-bottom: 4px;
    text-align: left;
    font-weight: 400;
    transition: 0.4s;
    /*  To push the plus sign to the right  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion:hover{
    background: #4d4d4d;
}
  /* adding the "plus" sign (+) */ 
.accordion::after{
    content: '\02795';
    font-size: 28px;
    color: #ffffff;
}
  
.panel{
    background-color: #2d2d2d;
    color: #fff;
    margin-bottom: 4px;
    overflow: hidden;
    text-align: left;
    
}
.panel > p {
    font-size: 24px;
    padding: 1.5rem;
}
.panel-closed{
    max-height: 0;
    overflow: hidden;
}
.panel-open{
    max-height: 700px;
}
.accordion-active::after {
    content: "\274C";
}
.panel{
    transition: max-height .33s cubic-bezier(.5,0,.1,1);
}
.form-section p{
    font-size: 20px;
    margin-top: 40px;
}
footer{
    color: #b3b3b3;
    padding: 4.5rem 20.5rem;
    display: block;
    font-size: 14px;

}
footer .links{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    
}
footer .links ul{
    margin: 20px 0px;
    
}
footer .links ul li{
    list-style: none;
    margin: 20px 0px;
    
}
footer .links ul li a{
    color: #b3b3b3;
}
footer .lang-selector{
    margin-bottom: 40px;
}
footer p a{
    color: #b3b3b3;
}