*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body{
    background-color: #000;
}
.logo{
    margin-left: 22rem;
    margin-top: 20px;
    width: 160px;
}
.btns{
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 20rem;
}
.btn{
    background-color: #e50914;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background-color: rgb(193, 8, 17);
}
#lang{
    padding: 6px 35px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
    background: none;
    color: #fff;
}
#first{
    height: 700px;
    background:linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.9) 100%), url('./img/bg.jpg');
}
.cont .material-symbols-outlined{
    position: absolute;
    margin: 11px;
    font-size: 16px;
    color: #fff;
}
.content{
    text-align: center;
    margin-top: 200px;
    color: #fff;
}
.content h1{
    font-size: 42px;
    font-weight: 600;
    font-family: "Archivo Black", sans-serif;
}
.content h6{
font-weight: 400;
font-size: 24px;
margin-top: 20px;
}
.content p{
    font-size: 22px;
    margin-top: 20px;
}
.email-section{
    margin-top: 20px;
}
.email-section input{
    padding: 16px 25px;
    width: 350px;
    color: #fff;
    background: rgba(17, 17, 17, 0.402);
    border: 1px solid #636363;
    border-radius: 5px;
    font-size: 18px;
    
}
.email-section button{
    background-color: #e50914;
    padding: 15px 50px 15px 30px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.email-section button:hover{
    background-color: rgb(193, 8, 17);
}
.arrow .material-symbols-outlined{
    position: absolute;
    margin: 14px 558px;
    font-size: 34px;
}
.divider{
    background-color: #232323;
    height: 8px;
    border: none;
}
.email-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.second{
    display:flex;
    justify-content:center;
    padding: 20px 40px;
    color: #fff;
}
.second .col-left h1{
    font-size: 48px;
    padding-top: 163px;
}
.second .col-left p{
    font-size: 21px;
    width: 498px;
}
.vdo{
    position: absolute;
    margin-top: 97px;
    z-index: -1;
    margin-left: 192px;
}
.tv img{
    margin-left: 108px;
}

#third{
    display:flex;
    justify-content:center;
    padding: 50px 40px;
    color: #fff;
    
}
#third .col-right h1{
    width: 559px;
    font-size: 48px;
    padding-top: 163px;
    
}
#third .col-right p{
    font-size: 21px;
    width: 505px;
    margin-top: 20px;
}
#third .col-left .mobile-frame{
    height: 450px;
}
#third .col-left .card{
    display: flex;
    border: 2px solid #636363;
    width: 307px;
    margin-left: 155px;
    position: absolute;
    margin-top: -139px;
    padding: 8px;
    border-radius: 10px;
    background: #000;
    justify-content: space-around;
    align-items: center;
}

#fourth{
    display:flex;
    justify-content:center;
    padding: 20px 40px;
    color: #fff;
}
#fourth .col-left h1{
    font-size: 48px;
    padding-top: 163px;
}
#fourth .col-left p{
    font-size: 21px;
    width: 498px;
}
.vido{
    position: absolute;
    margin-top: 57px;
    z-index: -1;
    margin-left: 229px;
    width: 390px;
}
.mac img{
    margin-left: 108px;
}